{% extends "layouts/admin_base.html" %}
{% load render_table from django_tables2 %}

{% block title %} Administration {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Administration</li>
</nav>
{% endblock breadcrumb %}

{% block content %}
<!-- <div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">
          General Settings
        </h4>
        <p class="card-category">Configure the basic settings for your account</p>
      </div>
      <div class="card-body">
       
      </div>
    </div>
  </div>
</div> -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}