{% extends "admin/change_list.html" %}
{% load i18n %}
{% block content %}
<style type="text/css">
    .submit_btn{
        float: right;
        border: none;
        font-weight: 400;
        background-color: #417690;
        height: 35px;
        line-height: 15px;
        margin: 0 0 0 8px;
        text-transform: uppercase;
        padding: 10px 15px;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        transition: background 0.15s;
        vertical-align: middle;
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        font-size: 13px;
        appearance: none;
    }
    .form_input{
    width: 300px;
    margin-left: 30px;
    border-color: black !important;
    }
    .form_label{
    padding: 4px 10px 0 0;
    width: 160px;
    word-wrap: break-word;
    line-height: 1;
    font-weight: bold;
    color: #333;

    }
    .form_file{
        margin-left: 95px;
    }
</style>
<form action="bulk-import" method="post" style="margin-top: 30px;" enctype="multipart/form-data" id="bulk_form">
    {% csrf_token %}
    <div>
        <label class="form_label">Oraganization</label>
        <select name="organization" class="form_input" required>
            {% for org in orgs %}
                <option value="{{org.id}}">{{org.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div style="padding-top: 20px">
        <label class="form_label">File</label>
      <input type="file" name="file" class="form_input form_file" required>  
    </div>
    <input type="submit" class="submit_btn" value="Upload" onclick="disableButton()" id="submit_btn"></input>
</form>
<script type="text/javascript">
    function disableButton(){
        document.getElementById("submit_btn").disabled = true
        document.getElementById("bulk_form").submit()
    }
</script>
{% endblock %}