<footer class="footer col-12">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>

        <li>
          <a rel="noopener noreferrer" href="#" class="p-0">
            Governance Risk and Compliance Engine
          </a>
        </li>

      </ul>
    </nav>
    <div class="copyright copy-right float-right pr-0 text-uppercase">
      &copy; 2022 <a rel="noopener noreferrer">Gracen</a>
    </div>
  </div>
</footer>
<style type="text/css">
  .copy-right{
    font-weight: 500;
    font-size: 12px;
    color: inherit;"
  }
</style>