{% extends "layouts/base.html" %}

{% block title %} Third Party Edit {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style type="text/css">
  .header-tile{
    min-height: 164px;
    min-width: 170px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header-tile>p{
    color: #999;
    font-size: 14px;
    margin-bottom: 8px;
    width: calc(100% - 85px);
    float: right;
    margin-left: auto;
    word-wrap: break-word;
    word-break: break-word;
    text-align: right;
  }
  .tile-body{
    text-align: right;
    min-height: 80px;
    width: calc(100% - 85px);
    margin-left: auto;
    word-break: break-all;
    word-wrap: break-word;
  }
  .tile-body>p, .tile-body>span{
    padding: 0px;
    margin: 0px;
    font-size: 12px;

  }
  .tile-contact>li{
    line-height: 1.7;
  }
  .tile-icon{
    position: absolute;
    background-color: #bfbfbf;
    color: white;
    border-radius: 3px;
    padding: 5px;
    margin-right: 12px;
    box-shadow: 0 4px 20px 0 #fff8f5;

  }
  .tile-icon>i{
    font-size: 44px;
    line-height: 50px;
    width: 54px;
    height: 50px;
    text-align: center;
  }
  .tile-active{
    border: 2px solid orange;
  }
  .third-party-details>h5{
    font-size: 14px;
    font-weight: 500;
  }
  .third-party-details>p{
    font-size: 12px;
  }
  .tile-footer{
      padding: 0;
      padding-top: 10px;
      margin: 0;
      border-radius: 0;
      border-top:  1px solid lightgrey;
      min-height: 53px;
  }
  .tile-footer>a{
    height: 35px;
    padding: 10px 30px;
  }
  .search_li{
    width: 100%;
  }
  pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.vl{
  top: 32px;
}
.vendor_list{
  display: none;
}
</style>
{% endblock stylesheets %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'administrator' organization.id %}">Administration</a></li>
    <li class="breadcrumb-item"><a href="{% url 'locations' organization.id %}">Locations</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      {% if not model.id %}
      New Location
      {% else %}
      {{ model }}
      {% endif %}
    </li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
{% if form.errors %}
<div class="alert alert-danger col-12" role="alert">
  Changes Not Saved - Correct the indicated errors and try again.
</div>
{% endif %}
<!-- vendor form -->
<form method="post" spellcheck="false" autocomplete="off" id="location-form">
  {% csrf_token %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Edit Location</h4>
          <p class="card-category">Update the location</p>
        </div>
        <div class="card-body">
        
          <div class="row">
            <div class="col-md-6 col-12 form_div">
              <div class="form-group bmd-form-group">
                {{ form.name }}
                <label class="bmd-label-floating">{{ form.name.label }}</label>
                {{ form.errors.name }}
              </div>
              <div class="form-group bmd-form-group">
                <label class="bmd-label-floating">{{ form.line_1.label }}</label>
                {{ form.line_1 }}
              </div>
              <div class="form-group bmd-form-group">
                <label class="bmd-label-floating">{{ form.line_2.label }}</label>
                {{ form.line_2 }}
                
              </div>
              
        
              <div class="form-group bmd-form-group is-filled">
                <label class="bmd-label-floating">{{ form.city.label }}</label>
                {{ form.city }}
              </div>
              <div class="form-group bmd-form-group is-filled">
                <label class="bmd-label-floating">{{ form.state.label }}</label>
                {{ form.state }}
              </div>
              <div class="form-group bmd-form-group is-filled">
                <label class="bmd-label-floating">{{ form.zip_code.label }}</label>
                {{ form.zip_code }}
              </div>
  
              
            </div>
            <div class="col-md-6 col-12">
             
              <div class="form-group bmd-form-group is-filled">
                <label class="bmd-label-floating">{{ form.location_type.label }}</label>
                {{ form.location_type }}
              </div>
              <div class="form-group bmd-form-group is-filled">
                {{ form.location_code }}
                <label class="bmd-label-floating">{{ form.location_code.label }}</label>
                  {{ form.errors.location_code }}
              </div>

              <div class="form-group bmd-form-group is-filled">
                <label class="auto-label">{{ form.landlord.label }}</label>
                {{ form.landlord }}
                <select multiple class="form-control" name="linked_resource_" id="linked_resource_select">
                      {% for data in resource_option_vendor %}
                      <option value="{{data}}" data_type="THIRD_PARTY">{{data}}</option>
                      {% endfor %}
                      {% for data in resource_option_vendor_process %}
                      <option value="{{data}}" data_type="PROCESS">{{data}}</option>
                      {% endfor %}
                </select>
              </div>

              <div class="form-group bmd-form-group is-filled">
                {{ form.primary_phone }}
                <label class="bmd-label-floating">{{ form.primary_phone.label }}</label>
                {{ form.errors.primary_phone }}
              </div>
              
            </div>
          </div>          
          
          <button type="submit" class="btn btn-primary pull-right">
            {% if model.id %} Update {% else %} Create {% endif %} Location
          </button>
          {% if model.id %}
          <a type="button" class="btn btn-dark pull-right mr-3" href="{% url 'locations' organization.id %}">
             Cancel
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</form>
<!-- end vendor form -->

{% if model.id %}
<!-- popup for OFAC Results -->
    {% if ofac_results %}
    <div class="modal fade" id="matchedLocation" tabindex="-1" role="dialog" aria-labelledby="matchedLocation" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
           <div class="model-header card-header-primary ">
              <h4 class="">Possible OFAC / SDN Match</h4>
            </div>
          <div class="modal-body pt-5">

            <h6 class="pb-3" style="font-size: 14px; text-transform: capitalize;">We found a possible match to this contact on the OFAC / SDN list. Please review and decide how you want to proceed.</h6>
            <div class="mb-4 p-2 pl-3 pr-3" style="overflow-y: scroll; height:400px; border: 1px solid lightgrey;">
              {% for result in ofac_results %}
              <div class="mb-3">
              <p style="font-size: 14px">{{result.created_at}}</p>
              <p style="font-size: 14px">Match Type: (SDN NAME ({{result.total_sdn}}), ADDRESSES ({{result.total_address}}), ALIASES ({{result.total_alias}}))</p>
              <p class="p-0 keys">Number: {{result.result.Number}}</p>
              <p class="p-0 keys">Name: {{result.result.Name}}</p>
              <p class="p-0 keys">Title: {{result.result.Title}}</p>
              <p class="p-0 keys">Remarks: {{result.result.Remarks}}</p>
              {% if result.result.Aliases %}
                <p class="mb-2 mt-3"> ---Aliases---</p>
                {% for alias in result.result.Aliases %}
                  <p class="p-0 keys">Alt Name: {{alias.AltName}}</p>
                  <p class="p-0 keys">Remarks: {{alias.Remarks}}</p>
                {% endfor %}
              {% endif %}
              {% if result.result.Addresses %}
                <p class="mb-2 mt-3"> ---Addresses---</p>
                {% for address in result.result.Addresses %}
                  <p class="p-0 keys">Address: {{address.Address}}</p>
                  <p class="p-0 keys">Remarks: {{address.Remarks}}</p>
                {% endfor %}
              {% endif %}
              </div>
              {% endfor %}
            </div>
            <a class="btn btn-primary pull-left" href="{% url 'ignore-ofac-location-result' organization.id model.id %}">Ignore - This is not a match</a>
            <a type="button" class="btn btn-primary pull-right" href="{% url 'create-ofac-result-location-task' organization.id model.id %}">Create a Task - Research further</a>
          </div>
        </div>
      </div>
    </div>
    <!-- end -->
    {% endif %}
{% endif %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTGGgzsUinKyUWGWE7gdKtmQr1_eMCkNo&libraries=places&callback=activatePlacesSearch"></script>
<script type="text/javascript">

  $(document).ready(function() {

    var select = $('select[multiple]');
    var options = select.find('option');

    var div = $('<div />').addClass('selectMultiple');
    var active = $('<div />');

    var list = $('<ul id="search_ul" />').addClass("owner_list vendor_list");
    var search_li = ($("<input type='text' onkeyup='searchMultiple()' placeholder='Search....' id='search_input' />")).addClass('search_li');
    list.append(search_li)
    options.each(function() {
        var text = $(this).text();
        if($(this).is(':selected')) {
            active.append($(`<a data_type="${$(this).attr("data_type")}" />`).html('<em>' + text + '</em><i></i>'));
        } else {
            list_el = ($(`<li data_type="${$(this).attr("data_type")}" />`));
            list_el.append($(`<span class="multiple-text" />`).text(text))
            if($(this).attr("data_type") == "THIRD_PARTY"){
              list_el.append($(`<p class="multiple-heading" />`).text("Third Party"))
            }else{
              list_el.append($(`<p multiple-heading />`).text("Process"))
            }
            list.append(list_el);
        }
    });

    active.append($('<div />').addClass('arrow'));
    div.append(active).append(list);

    select.wrap(div);

    $(document).on('click', '.selectMultiple ul li', function(e) {
        var select = $(this).parent().parent();
        var li = $(this);
        if(!select.hasClass('clicked')) {
            select.addClass('clicked');
            li.prev().addClass('beforeRemove');
            li.next().addClass('afterRemove');
            li.addClass('remove');
            addRiskType(li.children("span").text())
            var a = $(`<a data_type="${li.attr("data_type")}" />`).addClass('notShown').html('<em>' + li.children("span").text() + '</em><i></i>').hide().appendTo(select.children('div'));
            a.slideDown(400, function() {
                setTimeout(function() {
                    a.addClass('shown');
                    select.children('div').children('span').addClass('hide');
                    select.find('option:contains(' + li.children("span").text() + ')').prop('selected', true);
                }, 500);
            });
            setTimeout(function() {
                if(li.prev().is(':last-child')) {
                    li.prev().removeClass('beforeRemove');
                }
                if(li.next().is(':first-child')) {
                    li.next().removeClass('afterRemove');
                }
                setTimeout(function() {
                    li.prev().removeClass('beforeRemove');
                    li.next().removeClass('afterRemove');
                }, 200);

                li.slideUp(400, function() {
                    li.remove();
                    select.removeClass('clicked');
                });
            }, 600);
        }
    });

    $(document).on('click', '.selectMultiple > div a i', function(e) {
        var select = $(this).parent().parent().parent();
        var self = $(this).parent();
        self.removeClass().addClass('remove');
        select.addClass('open');
        removeRiskType(self.children('em').text().trim().split("  ")[0])
        setTimeout(function() {
            self.addClass('disappear');
            setTimeout(function() {
                self.animate({
                    width: 0,
                    height: 0,
                    padding: 0,
                    margin: 0
                }, 300, function() {
                  var li = ($(`<li data_type="${$(this).attr("data_type")}" />`));
                  li.append($(`<span class="multiple-text" />`).text(self.children('em').text().trim().split("  ")[0]))
                  if(self.attr("data_type") == "THIRD_PARTY"){
                    li.append($(`<p class="multiple-heading" />`).text("Third Party"))
                  }else{
                    li.append($(`<p multiple-heading />`).text("Process"))
                  }
                    li.addClass('notShown').appendTo(select.find('ul'));
                      // sortList();
                    li.slideDown(400, function() {
                        li.addClass('show');
                        setTimeout(function() {
                            select.find('option:contains(' + self.children('em').text().trim().split("  ")[0] + ')').prop('selected', false);
                            if(!select.find('option:selected').length) {
                                select.children('div').children('span').removeClass('hide');
                            }
                            li.removeClass();
                        }, 400);
                    });
                    self.remove();
                })
            }, 300);
        }, 400);
    });

    $(document).on('click', '.selectMultiple > div', function(e) {
        ul = $("#search_ul");
        if (ul.hasClass('vendor_list')) {
          ul.removeClass("vendor_list")
        }else {
          ul.addClass("vendor_list")
        }
        $(this).parent().toggleClass('open');
    });
  });

  function removeRiskType(val){
    var risk_type = $("#landlord").val().trim()
    val = val.trim()
    if(risk_type == val){
      $("#landlord").val(null)
    }else{
      new_val = ", "+val
      new_val1 = val + ","
      risk_type = risk_type.replace(new_val, "")
      risk_type = risk_type.replace(new_val1, "")
      $("#landlord").val(risk_type)
    }

  }
  function addRiskType(val){
    var risk_type = $("#landlord").val().trim()
    val = val.trim()
    if (risk_type == ""){
      $("#landlord").val(val)
    }else{
      $("#landlord").val(risk_type + ", " + val)
    }
  }
  
  var landlord_val = "{{form.landlord.value | safe}}"
  if(landlord_val != "" | landlord_val != undefined | landlord_val != "None" ){
    landlord_val = landlord_val.trim().split(", ")
    $.each(landlord_val, function(i,e){
        $('#linked_resource_select option[value="' + e.trim() + '"]').prop("selected", true);
    });

  }

  function searchMultiple(){
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('search_input');
    filter = input.value.toUpperCase();
    ul = document.getElementById("search_ul");
    li = ul.getElementsByTagName('li');

    for (i = 0; i < li.length; i++) {
      txtValue = li[i].textContent || li[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }


  $(document).ready(function(){
      var result = '{{ofac_results}}'
      if (result != "None"){
        $('#matchedLocation').modal('show');
      }
    })
  function fillInAddress(place) {
      var element = document.getElementsByClassName("form-group");
      var line1 = ''
      for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
              var val = place.address_components[i][componentForm[addressType]];
              var add_id = "#" + addressType
              if (['premise', 'route', 'neighborhood', 'street_number', 'plus_code'].includes(addressType)) {
                if (line1 == '') {
                    line1 = val
                } else {
                    line1 = line1 + ' ' + val
                }
              } else {
                  $(add_id).val(val)
              }
          }
      }
      $("#address_line1").val(line1)
      $("#address_line1").focusin()
  }
  var autocomplete;
  var componentForm = {
      administrative_area_level_1: 'short_name',
      postal_code: 'long_name',
      locality: 'long_name',
      sublocality_level_1: 'long_name',
      route: 'long_name',
      premise: 'long_name',
      neighborhood: 'long_name',
      street_number: 'long_name',
      plus_code: 'long_name'

  };

  function activatePlacesSearch() {
      var input = document.getElementById('address_line1')
      autocomplete = new google.maps.places.Autocomplete(input, {
          componentRestrictions: {
              country: 'us'
          }
      });
      autocomplete.addListener("place_changed", () => {
          const place = autocomplete.getPlace();
          fillInAddress(place)
      })
  }

  $(document).on('click', function(e) {
    var container1 = $(".selectMultiple > div");
    var search = $("#search_ul");
    if (!$(e.target).closest(container1).length && !$(e.target).closest(search).length) {
      $(".selectMultiple > div").parent().removeClass('open');
      ul = $("#search_ul");
      ul.addClass("vendor_list")
    }
    });

</script>

{% endblock %}