{% extends "layouts/base.html" %}

{% block title %}
  Login
{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block navigation %}
{% endblock navigation %}

{% block content %}

  <div class="row align-items-center" style="height: calc(100vh - 220px);">
    <div class="offset-md-3 col-md-5 my-auto registration-modal">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Password Reset Sent</h4>
        </div>
        <div class="card-body">

          <br />

          <p>We've emailed you instructions for setting your password.</p>
          <p>If an account exists with the email you entered, you should receive them shortly.</p>
          <p>If you don't receive an email, please check the email address you provided, and check your spam folder.</p>

          <br />

          <div class="text-center justify-content-center mx-auto">
            <a href="{% url 'account_login' %}" class="btn btn-primary">Back To Login Page</a>
          </div>

        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
