{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block navigation %}{% endblock %}

{% block content %}

<div class="row align-items-center" style="height: calc(100vh - 220px);">
  <div class="offset-md-3 col-md-5 my-auto registration-modal">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Password Reset Complete</h4>
      </div>
      <div class="card-body text-center">

        <br />

        <p>Your password has been reset. You may now login with your new password.</p>

        <br />

        <div class="justify-content-center mx-auto">
          <a href="{% url 'account_login' %}" class="btn btn-primary">Back To Login Page</a>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
