{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block navigation %}{% endblock %}

{% block content %}

<div class="row align-items-center" style="height: calc(100vh - 220px);">
  <div class="offset-md-3 col-md-5 my-auto registration-modal">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Password Reset</h4>
        <p class="card-category">Enter new password</p>
      </div>
      <div class="card-body">

        <form role="form" method="post" action="" spellcheck="false" autocomplete="off">
          {% csrf_token %}

          <br />

          <div>Plese enter your new password twice so we can verify you typed it correctly.</div>

          <br />

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="id_password1" class="bmd-label-floating">{{ form.password1.label }}</label>
                <input type="password" name="password1" class="form-control" autocomplete="new-password" required
                  id="id_password1">
                {{ form.password1.errors }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="id_password2" class="bmd-label-floating">{{ form.password2.label }}</label>
                <input type="password" name="password2" class="form-control" autocomplete="new-password" required
                  id="id_password2">
                {{ form.password2.errors }}
              </div>
            </div>
          </div>
          <span id="password-texts" style="display: none;"><b>Password Strength: <span id="strengths">WEAK</span></b></span>
          <br />

          <button type="submit" name="login" class="btn btn-primary pull-left">Reset My Password</button>

          <div class="clearfix"></div>

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
  $("#id_password1").keyup(function(){
      var password = zxcvbn($(this).val())
      $("#password-texts").hide()
      if(($(this).val().length) <= 0){
        $("#password-texts").hide()
      }else{
        if(password.score == 3){
          $("#password-texts").show()
          $("#password-texts").css("color", "orange");
          $("#strengths").text("MODERATE");
        }else if(password.score == 4){
          $("#password-texts").show()
          $("#password-texts").css("color", "green");
          $("#strength").text("STRONG");
        }else{
          $("#password-texts").show()
          $("#password-texts").css("color", "red");
          $("#strengths").text("WEAK");
        }
      }

  });
</script>
{% endblock javascripts %}
