{% extends "layouts/base.html" %}

{% block title %} Questionaires Edit {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style type="text/css">
  .auto-label{
    top: -1rem !important;
    font-size: 0.6875rem !important;
    line-height: 1.4 !important;
    font-weight: 400 !important;
    color: #AAAAAA !important;
  }
</style>
{% endblock stylesheets %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'administrator' organization_pk %}">Administration</a></li>
    <li class="breadcrumb-item"><a href="{% url 'djf_surveys:admin_survey' %}">Questionaires</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      {% if not object.id %}
      New Questionaires
      {% else %}
      {{ object }}
      {% endif %}
    </li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
{% if form.errors %}
<div class="alert alert-danger col-12" role="alert">
  Changes Not Saved - Correct the indicated errors and try again.
</div>
{% endif %}
<form method="post" spellcheck="false" autocomplete="off">
  {% csrf_token %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Edit Questionnaire
            {% if object.id %}
            <a  class="pull-right delete-btn tooltip-parent" data-toggle="modal" data-target="#deleteTask"><i class="material-icons">delete</i><span class="tooltiptext">Delete Questionnaire</span></a>
            {% endif %}
          </h4>
          <p class="card-category">Update the Questionnaire</p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 col-12">
               {% if object.id %}
                <!-- popup -->
                <div class="modal fade" id="deleteTask" tabindex="-1" role="dialog" aria-labelledby="deleteTask" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-body text-center pt-5">
                        <h4 class="pb-5">Are you sure you want delete this Questionnaire?</h4>
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">No</button>
                        <a type="button" class="btn btn-primary pull-right" href="{% url 'djf_surveys:admin_delete_survey' object.slug %}">Yes - Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end -->
                {% endif %}
               <div class="form-group bmd-form-group">
                  <label class="bmd-label-floating">Name</label>
                  <input type="text" name="name" value="{{object.name}}" class="form-control" required>
                </div>
                <div class="row">
                 
                 <div class="col-sm-12 col-12 checkbox-col">
                  <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Active</label>
                    <input type="checkbox" name="active" {% if object.active %}checked{% endif %} class="form-checkboxes">
                  </div>
                 </div>
                </div> 
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group bmd-form-group is-filled mt-4">
                <label class="auto-label">Description</label>
                <textarea required name="description" class="form-control resize-textarea text-div" style="height: 100px; overflow-y: scroll; width: 100%; overflow-x: none;">{{object.description}}</textarea>
              </div>
            </div>
          </div>
          {% if object.id %}
          <a type="button" class="btn btn-dark text-white" style="background-color: gray;" {% if question %}  data-toggle="modal" data-target="#edit-admin-servey" {% else %} href="{% url 'djf_surveys:admin_question_list' object.id %}" {% endif %} >
             Edit Questions
          </a>

          <div class="modal"  id="edit-admin-servey" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content" style="width:580px; height:400px;">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Org Version</h4>
                </div>
                <div class="modal-body">
                  <div><h4 class="text-center mt-5">Do you want to update the version of this questionnaries?</h4></div>
                    
                  <div class="row p-5">
                    <div class="col-sm-12 d-flex justify-content-between">
                      <div> 
                        <h5>Current Vession : {{object.org_version| floatformat:2}}</h5>
                      </div>
  
                      <div class="d-flex">
                        <span>New Version :</span> 
                        <input id="new_admin_version" min="" step="0.01" value="" type="number" style="width: 60px; height: 25px;">
                      </div>
                    </div>
                    
                  </div>
                </div>
                <div class="d-flex justify-content-between p-5">
                  <button type="button" id="privous_admin_survery_version" class="btn btn-dark p-2" data-dismiss="modal">No-Keep current Version</button>

                  <button type="button" id="update_admin_servery_version" class="btn btn-primary">YES-UPDATE VERSION</button>
                </div>
              </div>
            </div>
          </div>

          <a type="button" id="privous_admin_survery_version" class="btn btn-dark" style="background-color: gray;" {% if object.answer %} href="{% url 'djf_surveys:admin_edit' object.answer.id %}" {% else %} href="{% url 'djf_surveys:admin_create' object.slug %}" {% endif %}>
             Preview Questionnaire
          </a>
          {% endif %}
          <button type="submit" class="btn btn-primary pull-right">
            {% if object.id %} Update {% else %} Create {% endif %} Questionnaire
          </button>
          <a type="button" class="btn btn-dark pull-right mr-3" href="{% url 'djf_surveys:admin_survey' %}">
             Cancel
          </a>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
$(document).ready(function() {
  var current_org_version = {{object.org_version}};
  $('#new_admin_version').attr({
       "min" : current_org_version + 0.01,      
       "value": current_org_version + 0.01
    });
});
$('#update_admin_servery_version').on("click",function(e){
  var new_org_version = $('#new_admin_version').val()
  var id = {{object.id}}
  $.ajax({
          type: "POST",
          url:"{% url 'djf_surveys:update_org_version' pk=0 %}".replace(0, id),
          data: {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'new_org_version': new_org_version,
          },
          success: function(response) {
            window.location.href = "{% url 'djf_surveys:admin_question_list' pk=0 %}".replace(0, id)
          },
      });
});
$('#privous_admin_survery_version').click(function(){
  var id = {{object.id}}
  window.location.href = "{% url 'djf_surveys:admin_question_list' pk=0 %}".replace(0, id)
})
</script>
{% endblock javascripts %}