{% extends "layouts/base.html" %}

{% block title %} Risks {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style type="text/css">
  .auto-label{
    color: #AAAAAA !important;
  }
  pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/*.menu-area-item:hover:not(.selected) {
  background-color: #fafafa;
}*/

</style>
{% endblock stylesheets %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'risks' %}">Risks</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      {% if not model.id %}
      New Risk
      {% else %}
      {{ model }}
      {% endif %}
    </li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
{% if form.errors %}
<div class="alert alert-danger col-12" role="alert">
  Changes Not Saved - Correct the indicated errors and try again.
</div>
{% endif %}
<form method="post" spellcheck="false" autocomplete="off" style="position: relative;">
  {% csrf_token %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Edit Risk</h4>
          <p class="card-category">Update the risk</p>
        </div>
        <div class="card-body">
          <!-- History log starts -->
          <pre class="history-log" id="history_log" style="min-height: 380px; height: 515px;">
            {{model.get_history | safe}}
          </pre>
          <!-- History log end -->

          <!-- Notes log starts -->
          <div class="comment-log risk-comment-log" id="comment_log">
            <form></form>
            <div class="notes-popup" id="edit-notes" style="position: absolute;">
              <form action="" id="edit-comment-form" class="form-container" method="post">
                {% csrf_token %}
                <div>
                  <button type="submit" class="notes_submit cancel-btn rounded-circle ml-2 tooltip-parent"><i class="material-icons" aria-hidden="true" style="font-size: 13px; padding-bottom: 3px;">arrow_upward</i><span class="tooltiptext">Save Edits</span></button>
                  <button type="button" class="notes_cancel cancel-btn rounded-circle tooltip-parent" onclick="closeForm()"><i class="material-icons" style="font-size: 10px;">clear</i> <span class="tooltiptext">Cancel Changes</span></button>
                  <div style="clear:both;"></div>
                </div>
                <textarea name="comment" id="edit-comment" style="display: none;"></textarea>
                <div id="menu-area2" class="menu-area" role="listbox"></div>

                    <div contenteditable="true" rows="4" placeholder="Type notes here ..." style="font-size: 12px;
    height: 101px;
    max-height: 70px;
    overflow-y: hidden;
    resize: vertical;
    border: none;color: black; width: 100%;" id="edit-comment-div" class="chat-message-input-div" onkeyup="editComment()"></div>
              </form>
            </div>
            <div class="messages risk-messages">
              <ul id="chat-log" style="position: relative;">
              </ul>
            </div>
            <form method="post" id="chat-message-form" {% if model.id %} action="{% url 'create-risk-notes' model.id %}" {% endif %}>
              {% csrf_token %}
              <div class="message-input">
                <div style="">
                  <hr class="notes-hr">
                  <button class="submit tooltip-parent notes_submit" id="chat-message-submit"><i class="material-icons" aria-hidden="true" type="submit">arrow_upward</i><span class="tooltiptext">Post Note</span></button>
                  <div style="clear:both;"></div>
                </div>
                <div class="wrap">
                    <textarea style="display: none;"id="chat-message-input" name="comment"></textarea>
            <div id="menu-area1" class="menu-area" role="listbox"></div>

                    <div contenteditable="true" rows="4" placeholder="Type notes here ..." id="chat-message-input-div" class="chat-message-input-div task-chat-div" onkeyup="updateComment()"></div>
                </div>
              </div>
             </form>
          </div>
          <!-- Notes log end -->
          <div class="row">
            <div class="col-md-6 col-12 form_div">
                <div class="form-group bmd-form-group">
                  <label class="bmd-label-floating">{{ form.title.label }}</label>
                  {{ form.title }}
                  {{ form.errors.title }}
                </div>
                <div class="form-group bmd-form-group">
                  <label class="bmd-label-floating">{{ form.category.label }}</label>
                  {{ form.category }}
                  {{ form.errors.category }}
                </div>
                <div class="form-group bmd-form-group is-filled">
                  <label class="bmd-label-floating">{{ form.likelihood.label }}</label>
                  {{ form.likelihood }}
                  {{ form.errors.likelihood }}
                </div>
                <div class="form-group bmd-form-group is-filled">
                  <label class="bmd-label-floating">{{ form.impact.label }}</label>
                  {{ form.impact }}
                  {{ form.errors.impact }}
                </div>
                <div class="form-group bmd-form-group">
                  <label class="bmd-label-floating">{{ form.rating.label }}</label>
                  {{ form.rating }}
                  {{ form.errors.rating }}
                </div>
                <div class="form-group bmd-form-group is-filled">
                  <label class="bmd-label-floating">{{ form.priority.label }}</label>
                  {{ form.priority }}
                  {{ form.errors.priority }}
                </div>
                <div class="form-group bmd-form-group is-filled">
                  <label class="bmd-label-floating">{{ form.mitigation.label }}</label>
                  {{ form.mitigation }}
                  {{ form.errors.mitigation }}
                </div>
                <div class="form-group bmd-form-group is-filled">
                  {{ form.owner }}
                  <label class="bmd-label-floating">{{ form.owner.label }}</label>
                  {{ form.errors.owner }}
                </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="notes_btn_height">
                <span class="pull-right history_icon">
                  <span class="tooltip-parent" id="history_btn" {% if model.id %} onclick="showHistory()" {% else %} style="cursor: not-allowed;" {% endif %}>
                    <span class="material-symbols-outlined pr-1">history</span>
                    <span class="tooltiptext">History</span>
                  </span>
                  
                  <span class="tooltip-parent" id="log_btn" {% if model.id %} onclick="showNotes()" {% else %} style="cursor: not-allowed;" {% endif %}>
                    <span class="material-symbols-outlined">text_snippet</span>
                    <span class="tooltiptext">Notes</span>
                  </span>
                </span>
              </div>
              <div class="form-group bmd-form-group is-filled mt-4" style="position: relative;">
                <label class="auto-label">{{ form.notes.label }}</label>
                {{ form.notes }}
                <div id="menu-area" class="menu-area" role="listbox"></div>
                <div onkeyup="updateNotes()" contenteditable="true" class="form-control resize-textarea text-div" style="height: 368px; overflow-y: scroll; width: 100%; overflow-x: none;" id="edit-div-notes">
                  {{model.get_notes | safe}}
                </div>
                {{ form.errors.notes }}
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary pull-right">
            {% if model.id %} Update {% else %} Create {% endif %} Risk
          </button>
          <a type="button" class="btn btn-dark pull-right mr-3" href="{% url 'risks' %}">
             Cancel
          </a>
        </div>
      </div>
    </div>
  </div>
</form>

{% if model.id %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">
          Tasks
          <a style="text-decoration: none;" href="{% url 'risk-task-create' model.id %}">
            <i class="material-icons">add_circle</i>
          </a>
        </h4>
      </div>
      <div class="card-body">
        {% if tasks %}
        <div class="table-responsive">
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col" class="hide_in_mobile_view">Created Date</th>
                <th scope="col">Due Date</th>
                <th scope="col">Status</th>
                <th scope="col">Owner</th>
              </tr>
            </thead>
            <tbody>
              {% for task in tasks %}
              <tr>
                <th scope="row">
                  <a href="{% url 'risk-task-edit' task.id model.id %}">
                    {{ task }}
                  </a>
                </th>
                <td class="hide_in_mobile_view">{{ task.created_at.date }}</td>
                <td>
                  {% if task.due_date %}
                    <div style='display:flex'><div class='circle_div'>{{task.get_status_task | safe }}</div> <span>{{ task.due_date }}</span></div>
                   {% endif %}
                </td>
                <td>{{ task.get_status_display }}</td>
                <td>
                  {% if task.owner %}
                  {{ task.owner }}
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <p>There are no tasks.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
  function updateComment(){
  $("#chat-message-input").val($("#chat-message-input-div").html().trim())
    new Mentionify(
      document.getElementById('chat-message-input-div'),
      document.getElementById('menu-area1'),
      resolveFn,
      replaceFn,
      menuItemFn,
      "#menu-area1",
      "#chat-message-input-div",
      "#chat-message-input",
      30
    )
}
function editComment(){
  $("#edit-comment").val($("#edit-comment-div").html().trim())
    new Mentionify(
      document.getElementById('edit-comment-div'),
      document.getElementById('menu-area2'),
      resolveFn,
      replaceFn,
      menuItemFn,
      "#menu-area2",
      "#edit-comment-div",
      "#edit-comment",
      30
      )
  }
    function calcRating(rating){
        if (rating <= 5){
            return "Low (" + rating + ")"
        }else if(rating >= 6 && rating <= 11){
            return "Medium (" + rating + ")"
        }else if(rating >= 12 && rating <= 25){
            return "High (" + rating + ")"
        }else{
            return rating
        }
    }
    $("#rating").val(calcRating("{{form.rating.value}}"))
    $(document).on('change', '#severity', function() {
        var severity = parseInt($(this).val())
        var likelyhood = parseInt($("#likelyhood").val())
        var rating = severity * likelyhood
        $("#rating").val(calcRating(rating))
    });
    $(document).on('change', '#likelyhood', function() {
        var likelyhood = parseInt($(this).val())
        var severity = parseInt($("#severity").val())
        var rating = severity * likelyhood
        $("#rating").val(calcRating(rating))
    });
    function updateNotes(){
      $("#notes-text").val($("#edit-div-notes").html().trim())
    }
    new Mentionify(
        document.getElementById('edit-div-notes'),
        document.getElementById('menu-area'),
        resolveFn,
        replaceFn,
        menuItemFn,
        "#menu-area",
        "#edit-div-notes",
        "#notes-text",
        0
      )
function showHistory(){
    var x = document.getElementById("history_log");
    if (x.style.display === "none" | x.style.display === "") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  function showNotes(){
    console.log("click")
    var x = document.getElementById("comment_log");
    if (x.style.display === "none" | x.style.display === "") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  $(document).on('click', function(e) {
    var container = $(".history-log");
    var showBtn = $("#history_btn");
    if (!$(e.target).closest(container).length && !$(e.target).closest(showBtn).length) {
        container.hide();
    }
    var container = $(".comment-log");
    var showBtn = $("#log_btn");
    if (!$(e.target).closest(container).length && !$(e.target).closest(showBtn).length) {
        container.hide();
    }
});
</script>
<script type="text/javascript">
$(document).ready(function() {
    $('#chat-message-form').submit(function() {
        var note = $("#chat-message-input").val().trim()
        if (note == ""){
          return false
        }
        $.ajax({
            data: $(this).serialize(),
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            success: function(response) {
                $("#chat-message-input").val("")
                $("#chat-message-input-div").text("")
                newMessage()
            }
        });
        return false;
    });
    newMessage()
});

function getDate(date) {
    var today = new Date();
    var created_at = new Date(date);
    var date_text = ""
    if (created_at.setHours(0, 0, 0, 0) == today.setHours(0, 0, 0, 0)) {
        date_text = "Today"
    } else if (new Date(created_at.getDate() - 1).setHours(0, 0, 0, 0) == (new Date(today.getDate() - 1)).setHours(0, 0, 0, 0)) {
        date_text = "1d"
    } else if (new Date(created_at.getDate() - 2).setHours(0, 0, 0, 0) == (new Date(today.getDate() - 2)).setHours(0, 0, 0, 0)) {
        date_text = "2d"
    } else if (new Date(created_at.getDate() - 3).setHours(0, 0, 0, 0) == (new Date(today.getDate() - 3)).setHours(0, 0, 0, 0)) {
        date_text = "3d"
    } else if (new Date(created_at.getDate() - 4).setHours(0, 0, 0, 0) == (new Date(today.getDate() - 4)).setHours(0, 0, 0, 0)) {
        date_text = "4d"
    } else if (new Date(created_at.getDate() - 5).setHours(0, 0, 0, 0) == (new Date(today.getDate() - 5)).setHours(0, 0, 0, 0)) {
        date_text = "5d"
    } else {
        var month = created_at.getUTCMonth() + 1;
        var day = created_at.getUTCDate();
        var year = created_at.getUTCFullYear();
        date_text = month + "/" + day + "/" + year;
    }
    return date_text
}
$('#edit-comment-form').submit(function() {
    var id = $("#edit-comment-form").attr("note_id")  
    var edit_note = $("#edit-comment-div").html().trim()
    $("#edit-comment").val(edit_note)
    if (edit_note == ""){
      return false
    }
    $.ajax({
        data: $(this).serialize(),
        type: $(this).attr('method'),
        url: $(this).attr('action'),
        success: function(response) {
            var edited = $("#edit-comment").val()
            var edit_p = "#msg_" + id
            $(edit_p).html(edited)

            closeForm()
        }
    });
    return false;
});

function openForm(text, id) {
    var msg_id = "#msg_"+id
    var text = $(msg_id).html()
    $("#edit-comment-div").html(text)
    var form_url = "/notetest/edit/" + id + "/risk/" + {{model.id}}
    $("#edit-comment-form").attr("action", form_url)
    $("#edit-comment-form").attr("note_id", id)
    document.getElementById("edit-notes").style.display = "block";
}

function closeForm() {
    document.getElementById("edit-notes").style.display = "none";
}

function newMessage() {
    $.ajax({
        type: "GET",
        url: "/notetest/create/risk/"+{{model.id}},
        success: function(response) {
            data = response.data
            $("#chat-log").empty();
            for (i = 0; i < data.length; i++) {
                var message = data[i]['comment'];
                var author = data[i]['author_id'];
                var msgListTag = document.createElement('li');
                author_name = data[i]['author_first_name'][0].toUpperCase() + data[i]['author_last_name'][0].toUpperCase()
                var divTag = document.createElement('div');
                var spanAuthor = document.createElement('span');
                var spanDate = document.createElement('span');
                var spanOuter = document.createElement('span');
                var spanTitle = document.createElement('span');
                // <span class="tooltiptext">Cancel Changes</span>
                if (author == "{{request.user.id}}"){
                  spanAuthor.className = "user_name tooltip-parent tooltip-parent1"
                }else{
                  spanAuthor.className = "user_name tooltip-parent tooltip-parent2"
                }
                spanAuthor.textContent = author_name;
                spanTitle.className = "tooltiptext"
                spanTitle.textContent = data[i]['author_first_name'] + " " + data[i]['author_last_name'];
                spanAuthor.appendChild(spanTitle)
                spanDate.className = "message_date"
                spanDate.textContent = getDate(data[i]['created_at']);
                divTag.className = "edit-message"
                var pTag = document.createElement('p');
                pTag.innerHTML = message
                if (author == "{{request.user.id}}") {
                    var iTag = document.createElement("i")
                    var spanTag1 = document.createElement("span")
                    spanTag1.className = "tooltip-parent tooltip-parent2"
                    spanTag1.setAttribute("style", "color: grey")
                    var titleTag = document.createElement("span")
                    titleTag.className = "tooltiptext"
                    iTag.className = "material-icons edit_notes_icon"
                    iTag.textContent = "edit_note"
                    titleTag.textContent = "Edit Note"
                    spanTag1.setAttribute("onclick", `openForm('${data[i]['comment']}', '${data[i]['id']}')`)
                    // iTag.setAttribute("title", "Edit Note")
                    msgListTag.className = "replies"
                    spanTag1.appendChild(iTag)
                    spanTag1.appendChild(titleTag)
                    divTag.appendChild(spanTag1)
                    spanOuter.appendChild(spanDate)
                    spanOuter.appendChild(spanAuthor)
                } else {
                    msgListTag.className = "sent"
                    spanOuter.appendChild(spanAuthor)
                    spanOuter.appendChild(spanDate)
                }
                divTag.appendChild(spanOuter)
                msgListTag.appendChild(divTag)
                pTag.setAttribute("id", "msg_"+data[i]['id'])
                msgListTag.appendChild(pTag)
                document.querySelector('#chat-log').appendChild(msgListTag);
            }
            $(".messages").scrollTop($(".messages")[0].scrollHeight);
        }
    });
}

</script>
{% endblock javascripts %}